html {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

body {
  background-color: #1c1c1c;
}

h1 {
  font-family: monospace;
  color: #00d0fa;
}