:root {
	--main: #fffcf2;
	--secondary: #121212;
	--accent: #ffb83d;
	--third: #fff;
}

@font-face {
  font-family: title;
  src: url("fonts/kolak/KOLAK.woff");
}

body {
	margin: 0px;
}

html {
	height: 100%;
	width: 100%;
	background-color: var(--main);
	color: var(--secondary);
	justify-content: center;
	align-items: center;
	font-family: "Georgia";
}

nav {
	display: flex;
	flex-direction: column;
}

#markdown {
	width: 70vw;
	margin-left: 15vw;
	margin-right: 15vw;
	text-align: left;
}

page-title {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 4vh;
	font-family: title;
	margin-top: 5vh;
	color: var(--secondary);
}

page-title a {
	color: var(--secondary);
	text-decoration: none;
}

a:hover {
	opacity: 0.7;
}


page-links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 3vh;
	font-family: title;
	color: var(--secondary);
}

page-links a {
	margin: 0px;
}

.nav-link {
	margin-inline: 4vw;
	color: var(--secondary);
}

.nav-link:hover {
	opacity: 0.7;
}

main {
	text-align: center;
	padding-bottom: 10vh;
}

p {
	font-size: 3vh;
}

.data {
	padding: 10vh;
}

#name {
	font-size: 4vh;
}

#markdown #cen {
	text-align: center;
}

.card_mini a {
	text-decoration: none;
	color: var(--secondary);
}

.card_mini {
	border: 1px solid var(--secondary);
	padding: 2vh;
	margin: 5vh;
	min-width: fit-content;
}

.card_mini:hover {
	opacity: 0.7;
}

.dark {
	position: fixed;
	bottom: 10px;
	right: 10px;
}

/* The switch - the box around the slider */
.switch {
  /* Variables */
 --switch_width: 2em;
 --switch_height: 1em;
 --thumb_color: var(--third);
 --track_color: var(--secondary);
 --track_active_color: var(--secondary);
 --outline_color: #000;
 font-size: 17px;
 position: relative;
 display: inline-block;
 width: var(--switch_width);
 height: var(--switch_height);
}

/* Hide default HTML checkbox */
.switch input {
 opacity: 0;
 width: 0;
 height: 0;
}

/* The slider */
.slider {
 box-sizing: border-box;
 border: 2px solid var(--outline_color);
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: var(--track_color);
 transition: .15s;
 border-radius: var(--switch_height);
}

.slider:before {
 box-sizing: border-box;
 position: absolute;
 content: "";
 height: var(--switch_height);
 width: var(--switch_height);
 border: 2px solid var(--outline_color);
 border-radius: 100%;
 left: -2px;
 bottom: -2px;
 background-color: var(--thumb_color);
 transform: translateY(-0.2em);
 box-shadow: 0 0.2em 0 var(--outline_color);
 transition: .15s;
}

input:checked + .slider {
 background-color: var(--track_active_color);
}

input:focus-visible + .slider {
 box-shadow: 0 0 0 2px var(--track_active_color);
}

/* Raise thumb when hovered */
input:hover + .slider:before {
 transform: translateY(-0.3em);
 box-shadow: 0 0.3em 0 var(--outline_color);
}

input:checked + .slider:before {
 transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.2em);
}

/* Raise thumb when hovered & checked */
input:hover:checked + .slider:before {
 transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.3em);
 box-shadow: 0 0.3em 0 var(--outline_color);
}