:root {
	--main: #fffcf2;
	--secondary: #121212;
	--accent: #ffb83d;
	--third: #fff;
}

::selection {
  background: var(--secondary);
  color: var(--main);
}

@font-face {
  font-family: title;
  src: url("fonts/kolak/KOLAK.woff");
}

html {
	height: 100%;
	width: 100%;
	background-color: var(--main);
	justify-content: center;
	color: var(--secondary);
}

main {
	display: flex;
	justify-content: center;
}

nav {
	display: flex;
	flex-direction: column;
}

.section {
	font-family: "Georgia";
}

page-title {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 4vh;
	font-family: title;
	margin-top: 5vh;
	color: var(--secondary);
}

page-title a {
	color: var(--secondary);
	text-decoration: none;
}

a:hover {
	opacity: 0.7;
}

page-links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 3vh;
	font-family: title;
	color: var(--secondary);
}

page-links a {
	margin: 0px;
}

.nav-link {
	margin-inline: 4vw;
	color: var(--secondary);
}

.nav-link:hover {
	opacity: 0.7;
}

main {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}

#four {
	align-items: center;
	height: 90vh;
	font-family: title;
}

#four h1 {
	font-size: 10vh;
}

#four h3 {
	width: 80vw;
}

#projects {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.tech {
	height: 100%;
}

.tech img {
	padding: 1vw;
}

.description {
	padding: 10px;
	font-size: 2vh;
}

.card {
	padding: 5vh;
	margin: 2.5vw;
	background-color: #fffcf2;
	color: #121212;
	max-width: 250px;
	text-align: center;
	font-family: "Roboto Mono", serif;
	border: solid 2px var(--secondary);
}
.card h1 {
	font-family: title;
}

.card p {
	height: 10vh;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: #121212;
  border: solid 2px #121212;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.card_mini {
	padding: 5vh;
	margin: 2.5vw;
	background-color: #fffcf2;
	color: #121212;
	width: 40vw;
	text-align: center;
	font-family: "Roboto Mono", serif;
	border: solid 2px;
	display: flex;
  flex-direction: row;
  align-items: center;
}
.card_mini h1 {
	font-family: title;
}

.card_mini img {
	max-width: 15vw;
	max-height: 15vw;
}

.card_mini p {
	height: 10vh;
}

.card_mini text {
	display: flex;
	flex-direction: column;
}

.price {
  color: grey;
  font-size: 22px;
}

.card_mini button {
  border: none;
  outline: 0;
  padding: 12px;
  color: var(--secondary);
  background-color: none;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card_mini button:hover {
  opacity: 0.7;
}

blockquote {
	font-size: 6vh;
	font-style: italic;
	margin: 10vh;
	margin-left: 15vw;
	margin-right: 15vw;
	padding: 4vh;
	border: solid 2px;
	max-width: 70vw;
}

.tech {
	margin-bottom: 6.5vh;
}

.tech img {
	padding: 2vw;
}

p {
	padding: 7vw;
	margin: 0;
	font-size: 3vh;
	font-family: "Georgia";
	padding-top: 4vh;
}

@media (max-width: 768px) {
	.card_mini {
		flex-direction: column;
		width: 60vw;
	}

	.card_mini img {
		max-width: 45vw;
		max-height: 45vw;
	}

	blockquote {
		font-size: 3.5vh;
	}

	p {
		padding-top: 0px;
	}
}
.dark {
	position: fixed;
	bottom: 10px;
	right: 10px;
}

/* The switch - the box around the slider */
.switch {
  /* Variables */
 --switch_width: 2em;
 --switch_height: 1em;
 --thumb_color: var(--third);
 --track_color: var(--secondary);
 --track_active_color: var(--secondary);
 --outline_color: #000;
 font-size: 17px;
 position: relative;
 display: inline-block;
 width: var(--switch_width);
 height: var(--switch_height);
}

/* Hide default HTML checkbox */
.switch input {
 opacity: 0;
 width: 0;
 height: 0;
}

/* The slider */
.slider {
 box-sizing: border-box;
 border: 2px solid var(--outline_color);
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: var(--track_color);
 transition: .15s;
 border-radius: var(--switch_height);
}

.slider:before {
 box-sizing: border-box;
 position: absolute;
 content: "";
 height: var(--switch_height);
 width: var(--switch_height);
 border: 2px solid var(--outline_color);
 border-radius: 100%;
 left: -2px;
 bottom: -2px;
 background-color: var(--thumb_color);
 transform: translateY(-0.2em);
 box-shadow: 0 0.2em 0 var(--outline_color);
 transition: .15s;
}

input:checked + .slider {
 background-color: var(--track_active_color);
}

input:focus-visible + .slider {
 box-shadow: 0 0 0 2px var(--track_active_color);
}

/* Raise thumb when hovered */
input:hover + .slider:before {
 transform: translateY(-0.3em);
 box-shadow: 0 0.3em 0 var(--outline_color);
}

input:checked + .slider:before {
 transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.2em);
}

/* Raise thumb when hovered & checked */
input:hover:checked + .slider:before {
 transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.3em);
 box-shadow: 0 0.3em 0 var(--outline_color);
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity: 0.7;
}