:root {
	--main: #fffcf2;
	--secondary: #121212;
	--accent: #ffb83d;
	--third: #fff;
}

@font-face {
  font-family: title;
  src: url("fonts/kolak/KOLAK.woff");
}

html {
	height: 100%;
	width: 100%;
	background-color: var(--main);
	justify-content: center;
}

main {
	display: flex;
	justify-content: center;
}

nav {
	display: flex;
	flex-direction: column;
}

page-title {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 4vh;
	font-family: title;
	margin-top: 5vh;
	color: var(--secondary);
}

page-links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 3vh;
	font-family: title;
	color: var(--secondary);
}
page-links a {
	margin: 0px;
}

.nav-link {
	margin-inline: 4vw;
	color: var(--secondary);
}

.nav-link:hover {
	opacity: 0.7;
}

main {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}

#four {
	align-items: center;
	height: 90vh;
	font-family: title;
}

#four h1 {
	font-size: 10vh;
}

#four h3 {
	width: 80vw;
}

.info {
	word-wrap: break-word;
	font-family: "Playfair Display", serif;
	font-size: 2.5vh;
	width: 75%;
	color: var(--secondary);
}

h1 {
	
}

p {
	padding: 7vw;
	margin: 0;
	font-size: 3vh;
	padding-top: 4vh;
}

#projects {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.tech {
	height: 100%;
}

.tech img {
	padding: 1vw;
}

.description {
	padding: 10px;
	font-size: 2vh;
}

.card {
	padding: 5vh;
	margin: 2.5vw;
	background-color: var(--main);
	color: var(--secondary);
	max-width: 250px;
	text-align: center;
	font-family: "Roboto Mono", serif;
	border: solid;
	border-radius: 10px;
}
.card h1 {
	font-family: title;
}

.card p {
	height: 10vh;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: var(--secondary);
  background-color: none;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.card_mini {
	padding: 5vh;
	margin: 2.5vw;
	background-color: var(--main);
	color: var(--secondary);
	width: 40vw;
	text-align: center;
	font-family: "Roboto Mono", serif;
	border: solid;
	border-radius: 10px;
	display: flex;
  flex-direction: row;
  align-items: center;
}
.card_mini h1 {
	font-family: title;
}

.card_mini img {
	max-width: 15vw;
	max-height: 15vw;
}

.card_mini p {
	height: 10vh;
}

.card_mini text {
	display: flex;
	flex-direction: column;
}

.price {
  color: grey;
  font-size: 22px;
}

.card_mini button {
  border: none;
  outline: 0;
  padding: 12px;
  color: var(--secondary);
  background-color: none;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card_mini button:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
	.card_mini {
		flex-direction: column;
		width: 60vw;
	}

	.card_mini img {
		max-width: 45vw;
		max-height: 45vw;
	}
}

blockquote {
	font-size: 6vh;
	font-style: italic;
	margin: 10vh;
	margin-left: 15vw;
	margin-right: 15vw;
	padding: 4vh;
	border: solid 2px;
	max-width: 70vw;
}
